composer.phar
vendor/

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

# Mac OS X dumps these all over the place.
.DS_Store

# Ignore PHPUnit coverage file
clover.xml

# Ignore PHPStorm files
.idea/
