# see http://about.travis-ci.org/docs/user/languages/php/ for more hints
language: php

# dist
dist: trusty

# list any PHP version you want to test against
php:
  - 5.5
  - 5.6
  - 7.0
  
before_script:
  - curl --version
  - composer self-update
  - composer install --no-interaction --prefer-source --dev  
